.Header{
  display: flex;
  justify-content:space-between ;
  border: 1px solid black;
}

.logo{
  width: 100px;
  height: 100px;
  padding: 0px 20px;
}

.nav-items > ul{
  font-size: 20px;
  display: flex ;
  list-style-type: none;
  padding: 0px 20px ;
}
.nav-items > ul > li{
  padding: 10x;
  margin: 10px;
}
.res-card{
  width: 200px;
  height: 400px;
  padding: 10px;
  background-color: rgb(224, 221, 221);
  margin: 5px;
}
.res-card:hover{
  cursor: pointer;
   border: 1px solid black;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}
.search{
  padding: 10px;
}
.res-logo{
  height: 200px;
  width: 100%;

}